<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8"/>
	<title>重构学生端-黑马程序员</title>
</head>
<body>
<div id="app">
	我的app
</div>
</body>
</html>